<% user ||= @visited_user %>
<% @posts.each do |post| %>
	<li>
		<div class="avatar">
			<%= image_tag user.avatar.mini %>
		</div>
		<div class="activity-desk">
			<span><%= user.nickname %></span>
			<p class="text-muted"><%= format_time post.created_at %></p>
			<div class="text">
				<%= link_to post_path(post) do %>
					<%= format_cate post.cate if post.cate %>
					<%= post.content.html_safe %>
				<% end %>
			</div>
			<div class="album">
				<% if post.images && post.images.class.name == "Hash" %>
					<div class="blog-imgs img-gallery">
						<% $images = post.images %>
						<% $images.keys.slice(0..8).each_with_index do |c, i| %>
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 img-pane">
								<div class="blog-img-sm" style="background: url(<%= $images[c]['thumb'] %>)" data-url="<%=$images[c]['url'] %>" >
									<a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
										<img src="" alt="" style=:display: none;>
									</a>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="p-footer">
				<div class="readtimes"><i class="fa fa-eye"></i><span><%= post.readtimes %></span></div>
				<div class="coments">
					<%= link_to "#{post_path(post)}?#comments" do %>
						<i class="fa fa-comments-o" role='comment'></i>
						<span>
							<%= post.comments_count %>
						</span>
					<% end %>
				</div>
				<div class="thumbs">
					<i class="fa <%= post.has_thumb?(user, request.remote_ip) ? 'fa-thumbs-up active' : 'fa-thumbs-o-up' %>" data-action="<%= thumb_posts_path(post) %>" role='thumb'></i>
					<span><%= post.thumbs_count %></span>
				</div>
			</div>
		</div>
	</li>
<% end %>
