<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="<%= v_ucenter_path(@visited_user) %>"><%= @visited_user.nickname || "#{@visited_user.name.slice(0,1)}同学" %>的主页</a>
        </li>
        <li>
            <span><%= @visited_user.nickname || "#{@visited_user.name.slice(0,1)}同学" %>的帖子</span>
        </li>
    </ul>
</div>
<!-- page heading end-->

<!-- page heading end-->

<!--body wrapper start -->
<div class="wrapper n-m-t">

    <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2">
			<div class="dropload" data-url="<%= v_ucenter_posts_path(@visited_user) %>">
	            <div class="panel">
	                <div class="panel-body" >
						<ul class="activity-list blog" id="lists">
							<%= render 'post_lists', user: @visited_user %>
						</ul>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>

<%= stylesheet_link_tag "share/lightbox" %>
<%= javascript_include_tag "share/lightbox" %>
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
<%= javascript_include_tag "share/posts" %>
<%= javascript_include_tag "share/autoDot" %>
