<%= form_with(model: index_meterial, local: true) do |form| %>
  <% if index_meterial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_meterial.errors.count, "error") %> prohibited this index_meterial from being saved:</h2>

      <ul>
      <% index_meterial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :index_meterial_name %>
  </div>

  <div class="field">
    <%= form.label :cate %>
    <%= form.text_field :cate, id: :index_meterial_cate %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :index_meterial_tag %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :index_meterial_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
