<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @index_meterial.name %>
</p>

<p>
  <strong>Cate:</strong>
  <%= @index_meterial.cate %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @index_meterial.tag %>
</p>

<p>
  <strong>Info:</strong>
  <%= @index_meterial.info %>
</p>

<%= link_to 'Edit', edit_index_meterial_path(@index_meterial) %> |
<%= link_to 'Back', index_meterials_path %>
