<p id="notice"><%= notice %></p>

<h1>Index Post Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @index_post_comments.each do |index_post_comment| %>
      <tr>
        <td><%= index_post_comment.content %></td>
        <td><%= link_to 'Show', index_post_comment %></td>
        <td><%= link_to 'Edit', edit_index_post_comment_path(index_post_comment) %></td>
        <td><%= link_to 'Destroy', index_post_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Index Post Comment', new_index_post_comment_path %>
