<div class="cdts-panel">
	<header class="panel-heading c">
		<small>条件筛选</small>
		<span class="tools pull-right">
			<a class="fa fa-chevron-down" href="javascript:;"></a>
		 </span>
	</header>

	<ul class='cdts' id="cdts" style="display: none">
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id="school" data-name="school" data-search-url="<%= cdts_search_schools_path %>">院校</li>
					div
					<!-- <% cache @schools.cache_key, expires_in: 10.minutes do %>
						<% @schools.each do |s| %>
							<li><a href="JavaScript: void(0)" data-value="<%= s.id %>"><%= s.name %></a></li>
						<% end %>
						<li><a href="JavaScript: void(0)" data-value="NONE">不限</a></li>
					<% end %> -->
					<li class='opt-input'><div class="cdt-select"></div></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id='cate' data-name="cate" data-search-url="<%= cdts_search_product_cates_path %>">分类</li>
					<% cache @cates.cache_key, expires_in: 10.minutes do %>
						<% @cates.each do |c| %>
							<li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
						<% end %>
						<li><a href="JavaScript: void(0)">不限</a></li>
					<% end %>
					<li class='opt-input'><div class="cdt-select"></div></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id='cate' data-name="company" data-search-url="<%= cdts_search_companies_path %>">品牌</li>
					<% cache @companies.cache_key, expires_in: 10.minutes do %>
						<% @companies.each do |c| %>
							<li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
						<% end %>
						<li><a href="JavaScript: void(0)">不限</a></li>
					<% end %>
					<li class='opt-input'><div class="cdt-select"></div></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<%= stylesheet_link_tag "cdtSelector/cdt-select" %>
<%= javascript_include_tag "cdtSelector/cdtSelect" %>
