<%= form_with(model: index_product, local: true) do |form| %>
  <% if index_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_product.errors.count, "error") %> prohibited this index_product from being saved:</h2>

      <ul>
      <% index_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :index_product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :index_product_price %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_field :intro, id: :index_product_intro %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :index_product_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
