
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <%= form_for(@product, url: manage_products_path, html: { id: 'product-form', 'data-id' => @product.id }) do |f| %>
                <div id="error">
                <% if index_product.errors.any? %>
                  <div id="error_explanation">
                    <h3>存在<%= index_product.errors.count %>个错误信息</h3>

                    <ul>
                    <% index_product.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                </div>
                <section class='panel'>
                    <header class="panel-heading">
                        基本信息
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-up toggle-show" href="javascript:;"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="product_name">产品名</label>
                                    <input type="text" id='product_name' name='product[name]' class="form-control" placeholder="输入产品名" value="<%= @product.name %>">
                                </div>
                                <div class="form-group">
                                    <label for="product_cate">产品分类</label>
                                    <%= f.hidden_field :cate_id, name: 'product[cate_id]', id: 'product_cate' %>
                                    <div class="cdt-select" data-search-url="<%= cdts_search_product_cates_url %>" data-default="<%= @product.cate.name if @product.cate %>" data-json="<%= @cates.to_json %>"></div>
                                </div>
                                <div class="form-group">
                                    <label for="product_cate">针对院校</label>
                                    <%= f.hidden_field :school_id, name: 'product[school_id]', id: 'product_school' %>
                                    <div class="cdt-select" data-search-url="<%= cdts_search_schools_url %>" data-default="<%= @product.school.name if @product.school %>" data-json="<%= @schools.to_json %>"></div>
                                </div>
                                <div class="form-group">
                                    <label for="product_company">品牌</label>
                                    <%= f.hidden_field :company_id, name: 'product[company_id]', id: 'product_company' %>
                                    <div class="cdt-select" data-search-url="<%= cdts_search_companies_url %>" data-default="<%= @product.company.name if @product.company %>" data-json="<%= @companies.to_json %>"></div>
                                </div>
                                <div class="form-group">
                                    <label for="product_price">价格</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <% @product.price = nil if @product.price == 0 %>
                                            <input type="text" id='product_price' name='product[price]' class="form-control" placeholder="原价" value="<%= @product.price %>">
                                        </div>
                                        <div class="col-xs-6">
                                          <input type="text" id='product_dis_price' name='product[dis_price]' class="form-control" placeholder="优惠价" value="<%= @product.dis_price %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_intro">简介</label>
                                    <textarea id='product_intro' name='product[intro]' class="form-control" placeholder="输入简介,最多64字"><%= @product.intro %></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-8 col-sm-8 col-md-6">
                                        <label for="product_recommend">推荐指数</label>
                                        <span class='recom editable'>
                                            <% 5.times do |i| %>
                                              <i class='fa fa-star <%= 'active' if (@product.recommend || 5 ).to_i > i %> '></i>
                                            <% end %>
                                        </span>
                                        <input type="hidden" id='product_recommend' name='product[recommend]' class="form-control" placeholder="推荐指数" value="<%= @product.recommend || 5 %>">
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <label for="">登录后才能查看</label>
                                        <span style="margin-left: 10px;">
                                            <% if @product.need_login %>
                                              <input type="checkbox" class="js-switch" name='product[need_login]' checked>
                                            <% else %>
                                              <input type="checkbox" class="js-switch" name='product[need_login]'>
                                            <% end %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group last">
                                    <label class="control-label col-md-3">上传产品封面</label>
                                    <div class="col-md-9">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail">
                                                <%= image_tag @product.cover, class: 'img-pre'%>
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail">
                                            </div>
                                            <div class='form-group'>
                                                   <span class="btn btn-default btn-file" style='margin-left: 1px'>
                                                   <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择图片</span>
                                                   <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改图片</span>
                                                   <input type="file" class="default" name='product[cover]' value="<%= @product.cover %>"/>
                                                   </span>
                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" style='margin-left: 5px'><i class="fa fa-trash"></i> 移除</a>
                                            </div>
                                        </div>
                                        <span class="label label-danger ">注意!</span>
                                             <span>
                                                上传的图片要求宽高比近似8:7
                                             </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-md-2 control-label">资料标签</label>
                                    <div class="col-md-10">
                                        <input id="tags_input" type="text" class="tags form-control" name="product[tag]" value="<%= @product.tag %>" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">
                        产品详情
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-up toggle-show" href="javascript:;"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea id='froala-editor' class='hidden'><%= @product.details %></textarea>
                                <input type="hidden" name='product[details]' id='editor-content' value="<%= @product.details %>">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="actions">
                  <%= f.submit '保存产品信息', id: 'product-submit', class: 'btn btn-primary btn-wide' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<%= stylesheet_link_tag 'share/froala_editor' %>
<%= javascript_include_tag 'share/froala_editor' %>

<%= stylesheet_link_tag 'file-upload/fileupload.min' %>
<%= javascript_include_tag 'file-upload/fileupload.min' %>

<%= stylesheet_link_tag 'ios-switch/switchery' %>
<%= javascript_include_tag 'ios-switch/switchery' %>
<%= javascript_include_tag 'ios-switch/ios-init' %>

<%= stylesheet_link_tag 'cdtSelector/cdt-select-theme' %>
<%= javascript_include_tag 'cdtSelector/cdtSelect' %>
<!--
<script src="//cdn.rawgit.com/indrimuska/jquery-editable-select/2.2.4/dist/jquery-editable-select.min.js"></script>
<link href="//cdn.rawgit.com/indrimuska/jquery-editable-select/2.2.4/dist/jquery-editable-select.min.css" rel="stylesheet"> -->
<script>
    $(function() {
        $('.cdt-select').each(function() {
            var $this = $(this);
            var datas = $this.data("json");
            var hots = [];
            for (var i in datas) {
                hots.push(datas[i].name);
            }

            $this.cdtSelect({
                dataJson: datas,
                multiSelect: false,
                search: true,
                hotcdt: hots,
                onCallerAfter: function (target, values) {
                    $this.siblings("input").val($this.find(".cdt-info span").data("id"))
                },
                onAjaxSearch: function(value, target) {
                    var result = [];
                    $.ajax({
                        url: $this.data("search-url") + "?name=" + value,
                        type: "GET",
                        async: false,
                        success: function(data) {
                            result = data;
                        },
                        error: function(err) {

                        }
                    })
                    return result;
                }
            }).setcdtVal($this.data("default").toString());
        })
    })

</script>


<script>
    $("#product_price").on("change", function() {
        var dis = $("#product_dis_price");
        if (!dis.val()) {
            dis.val($(this).val());
        }
    })
</script>
