<!-- page heading start-->
<div class="page-heading">
  <ul class="breadcrumb">
    <li>
      <a href="/manage/products">产品管理</a>
    </li>
    <li class="active">
      已删除
    </li>
    <li class="pull-right flex">
        <form class="" id='proSearch' method="get">
            <input type="text" class="form-control narrow" name="name" placeholder="搜索产品" />
        </form>
    </li>
  </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">
        <div class="panel-body">
          <div class="adv-table editable-table ">
            <div class="space15"></div>
            <div class="cdts-panel">
                <header class="panel-heading c">
                    <small>条件筛选</small>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                     </span>
                </header>
                <ul class='cdts' id="cdts" style="display: none;">
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id="school" data-name="school">院校</li>
                            <% cache @schools.cache_key, expires_in: 10.minutes do %>
                            <% @schools.each do |s| %>
                            <li><a href="JavaScript: void(0)" data-value="<%= s.id %>"><%= s.name %></a></li>
                            <% end %>
                            <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id='cate' data-name="cate">分类</li>
                            <% cache @cates.cache_key, expires_in: 10.minutes do %>
                            <% @cates.each do |c| %>
                            <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                            <% end %>
                            <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id='cate' data-name="company">品牌</li>
                            <% cache @companies.cache_key, expires_in: 10.minutes do %>
                                <% @companies.each do |c| %>
                                    <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                                <% end %>
                                <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="pjax-replace">
                <% cache @products.cache_key, expires_in: 2.minutes do %>
                    <div class="show-block">
                        <div id="gallery" class="media-gal">
                            <div class="product-row">
                                <% @products.each do |p| %>
                                  <% cache p.cache_key, expires_in: 10.minutes do %>
                                    <div class='product-block'>
                                        <div class="item product" >
                                            <%= link_to manage_product_path(p) do %>
                                                <span class="cate small"><%= "#{p.school.name} " if p.school %><%= p.cate.name if p.cate %></span>
                                                <%= link_to manage_product_recover_path(p), method: :post, class: "recover" do %>
                                                    <i class="fa fa-refresh"></i>
                                                    <span>恢复</span>
                                                <% end %>
                                                <%=  image_tag p.cover %>
                                            <% end %>
                                            <div class="info">
                                                <p class='p-info'>
                                                    <% if p.company %>
                                                        <span class='company'><%= p.company.name %></span>
                                                    <% end %>
                                                    <span class='name'><%= p.name %></span>
                                                </p>
                                                <p class='p-intro'>
                                                    <% if p.price > p.dis_price %>
                                                        <small class='price'><i class='fa fa-rmb'></i><%= p.price %></small>
                                                    <% end %>
                                                    <span class='dis-price'><small class='fa fa-rmb'></small><%= p.dis_price %></span>
                                                    <span class="readtimes"><%= p.readtimes || 0 %>人浏览</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <%= paginate @products %>
                <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--body wrapper end-->

<%= stylesheet_link_tag 'share/selector' %>
<%= javascript_include_tag 'share/selector' %>
