<!-- page heading start-->
<div class="page-heading">
  <h3>
    全部产品
  </h3>
  <ul class="breadcrumb">
    <li>
      <a href="">产品管理</a>
    </li>
    <li class="active">
      所有记录
    </li>
  </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">
        <div class="panel-body">
          <div class="adv-table editable-table ">
            <div class="clearfix">
              <div class="btn-group">
                <%= link_to new_manage_product_path do %>
                  <button class="btn btn-primary">
                    创建产品
                    <i class="fa fa-plus"></i>
                  </button>
                <% end %>
              </div>
              <div class="btn-group pull-right">
                <button id='btn-show-block' class="btn btn-default active" ><i class="fa fa-th-large"></i></button>
                <button id='btn-show-table' class="btn btn-default"><i class="fa fa-bars"></i></button>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0)" id="print">打印</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" id="export">导出为Excel</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="space15"></div>
            <div class="cdts-panel">
                <header class="panel-heading c">
                    <small>条件筛选</small>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-up" href="javascript:;"></a>
                     </span>
                </header>
                <ul class='cdts' id="cdts" style="display: none;">
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id="school" data-name="school">院校</li>
                            <% cache @schools.cache_key, expires_in: 10.minutes do %>
                            <% @schools.each do |s| %>
                            <li><a href="JavaScript: void(0)" data-value="<%= s.id %>"><%= s.name %></a></li>
                            <% end %>
                            <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id='cate' data-name="cate">分类</li>
                            <% cache @cates.cache_key, expires_in: 10.minutes do %>
                            <% @cates.each do |c| %>
                            <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                            <% end %>
                            <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <ul class="directory-list">
                            <li class='con-item' id='cate' data-name="company">品牌</li>
                            <% cache @companies.cache_key, expires_in: 10.minutes do %>
                                <% @companies.each do |c| %>
                                    <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                                <% end %>
                                <li><a href="JavaScript: void(0)">不限</a></li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="pjax-replace">
                <% cache @products.cache_key, expires_in: 2.minutes do %>
                    <div class="show-block">
                        <div id="gallery" class="media-gal">
                            <div class="product-row">
                                <% @products.each do |p| %>
                                  <% cache p.cache_key, expires_in: 10.minutes do %>
                                    <div class='product-block'>
                                        <div class="item product" >
                                            <%= link_to manage_product_path(p) do %>
                                                <span class="tag cate"><%= p.cate.name if p.cate %></span>
                                                <%=  image_tag p.cover %>
                                            <% end %>
                                            <div class="info">
                                                <p class='p-info'>
                                                    <% if p.company %>
                                                        <span class='company'><%= p.company.name %></span>
                                                    <% end %>
                                                    <span class='name'><%= p.name %></span>
                                                </p>
                                                <p class='p-intro'>
                                                    <% if p.price > p.dis_price %>
                                                        <small class='price'><i class='fa fa-rmb'></i><%= p.price %></small>
                                                    <% end %>
                                                    <span class='dis-price'><small class='fa fa-rmb'></small><%= p.dis_price %></span>
                                                    <span class="readtimes"><%= p.readtimes || 0 %>人浏览</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!--startprint-->
                    <div class="show-table">
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                          <thead>
                            <tr>
                              <th>名称</th>
                              <th>分类</th>
                              <th>价格</th>
                              <th>发布日期</th>
                              <th>发布者</th>
                              <th>详情</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- 此处动态生成 -->
                            <% @products.each do |p| %>
                              <% cache p.cache_key, expires_in: 10.minutes do %>
                                <tr>
                                    <td><%= p.name %></td>
                                    <td><%= p.cate.name if p.cate %></td>
                                    <td>
                                        <% if p.price > p.dis_price %>
                                            <small class='t-dis-price'><i class='fa fa-rmb'></i><%= p.price %></small>
                                        <% end %>
                                        <span><i class='fa fa-rmb'></i><%= p.dis_price %></span>
                                    </td>
                                    <td><%= p.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                                    <td><%= p.admin.number %></td>
                                    <td><%= link_to '查看', manage_product_path(p) %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                    <!--endprint-->
                    <%= paginate @products %>
                <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--body wrapper end-->

<%= stylesheet_link_tag 'share/selector' %>
<%= javascript_include_tag 'share/selector' %>
