<!-- page heading start-->
<div class="page-heading">
    <h3>
        <%= @product.name %> <small><%= @product.company %></small>
    </h3>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row blog">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel">
            <header class="panel-heading">
                <span class='p-intro'>学吧优惠价:
                    <% if @product.price > @product.dis_price %>
                        <small class='price'><i class='fa fa-rmb'></i><%= @product.price %></small>
                    <% end %>
                    <span class='dis-price big'><i class='fa fa-rmb'></i><%= @product.dis_price %> </span>
                </span>
                <span class='recom'>推荐指数:
                    <% 5.times do |i| %>
                      <i class='fa fa-star <%= 'active' if (@product.recommend.to_i || 0 ) > i %> '></i>
                    <% end %>
                </span>
            </header>
            <div class="panel-body">
                <%= @product.intro %>
            </div>
        </div>
        <div class="blog">
            <div class="single-blog">
                <div class="panel">
                    <div class="panel-body">
                        <div class="fr-view">
                            <%= (@product.details || '').html_safe %>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="pull-right">
                            <span>今日<%= @t_v_count %>人浏览</span>
                            <span class='p-l'>总共<%= @product.readtimes %>人浏览</span>
                            <br>
                            <span>今日<%= @t_a_count %>人咨询</span>
                            <span class='p-l'>总共<%= @product.appoints.count %>人咨询</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group pull-right">
            <button data-toggle="dropdown" type="button" class="btn btn-default btn-sm dropdown-toggle">
                操作<span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <%= link_to '修改信息', edit_manage_product_url(@product) %>
                </li>
                <li>
                    <a href='JavaScript:void(0)' id='del'>删除</a>
                    <%= form_tag manage_product_path(@product), method: :delete, id: 'del-product' do %>
                    <%end %>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!--body wrapper end-->
<%= stylesheet_link_tag "froala_style.min" %>
