<% @comments.each do |c| %>
	<div class="cmt" role="remove">
		<div class="p-u-info">
			<!--  允许删除的条件：　作者或评论者 -->
			<% if @user && (c.user_id == @user.id || @post.user_id = @user.id) %>
				<div class="opt-menu pull-right">
					<span class="dropdown-toggle" data-toggle="dropdown">
						<i class='fa fa-angle-down'></i>
					</span>
					<ul class="dropdown-menu pull-right">
					  <li>
						  <a href="javascript:void(0)" data-href="<%=  post_comment_path(c) %>" role="delete-confirm" data-method="delete" data-info="确定要删除吗">删除</a>
					  </li>
					</ul>
				</div>
			<% end %>
			<div class="ico">
				<%= link_to v_ucenter_posts_path(c.user_id) do %>
					<%= image_tag c.user.avatar.mini %>
				<% end %>
			</div>
			<div class="u-intro">
				<span class='u-name'><%= c.user.nickname || "#{c.user.name.slice(0, 1)}同学" %></span>
			</div>
		</div>
		<div>
		<span class="content"><%= (c.content || "").html_safe %></span>
			<% if c.images && c.images.class.name == "Hash" %>
				<div class="blog-imgs col-xs-12 col-lg-6 img-gallery">
					<% $images = c.images %>
					<% $images.keys.each_with_index do |key, i| %>
						<div class="img-view">
							<a href="<%= $images[key]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
								<img src="<%= $images[key]['thumb'] %>" data-url="<%= $images[key]['url'] %>">
							</a>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="cmt-info">
			<span class='c-time'><%= format_time @post.created_at %></span>
			<span class="c-cmt">
				<i class="fa <%= c.has_thumb?(c.user, '') ? 'fa-thumbs-up active' : 'fa-thumbs-o-up' %>" data-action="<%= thumb_post_comments_path(c) %>" role='thumb'></i>
				<span><%= c.thumbs_count %></span>
			</span>
		</div>
	</div>
<% end %>
