<!--body wrapper start-->
<div class="wrapper">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="panel">
				<%= form_tag posts_path, id: :post_form, "data-post-id" => @post.id do %>
					<%#= text_area_tag "post[content]", @post.content, id: "post-content", class: "form-control input-lg p-text-area", rows: "5", contenteditable: "true", placeholder: "分享一下男朋友..." %>
					<div id="post-content" class="form-control input-lg p-text-area" rows="5" contenteditable="true" role="emoji-input">
						<%= (@post.content || "").html_safe %>
					</div>
                    <%= hidden_field_tag "post[images]", '',  id: :post_images, "data-value" => @post.images.to_json %>
                <% end %>
				<div class="imgs-up-pane" id="img-pane">
                    <div class="parentFileBox">
        				<ul class="fileBoxUl img-gallery">
                            <% if @post.images && @post.images.class.name == "Hash" %>
                                <% $images = @post.images %>
                                <% $images.keys.each_with_index do |c, i| %>
                                    <li>
                                        <div class="viewThumb t-center">
											<a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
    	                                        <img src="<%= $images[c]['thumb'] %>" alt="">
											</a>
                                        </div>
                                        <div class="diyDel" data-img-id="<%= c %>">
                                            <i class="fa fa-times-circle"></i>
                                        </div>
                                    </li>
                                <% end %>
                            <% end %>
                            <li class="upload-btn">
                                <div id="img-upload"></div>
            				</li>
        				</ul>
        			</div>
				</div>
                <!-- <%= form_tag images_path, id: :image_form do %>
                    <%= file_field_tag "image[link]", id: "img_input", accept: "image/*", multiple: true  %>
                <% end %> -->
				<footer class="panel-footer">
					<input value='发表' type="button" class="btn btn-post pull-right" id="post_submit" disabled="true">
					<ul class="nav nav-pills p-option">
						<!-- <li>
							<a href="#"><i class="fa fa-user"></i></a>
						</li> -->
						<li>
							<a href="javascript: void(0)" id="open-img-btn"><i class="fa fa-camera"></i></a>
						</li>
						<!-- <li>
							<a href="javascript: void(0)"><i class="fa  fa-location-arrow"></i></a>
						</li> -->
						<li>
							<a href="javascript: void(0)" id="emoji-btn"><i class="fa fa-meh-o"></i></a>
						</li>
					</ul>
				</footer>
                <!-- <%= form_tag images_path, method: :post, id: "my-awesome-dropzone", class: "dropzone", 'data-id' => @post.id do %> -->
                <!-- <% end %> -->
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/assets/diyUpload/css/diyUpload.css">
<%= stylesheet_link_tag "share/emoji" %>

<script type="text/javascript" src="/assets/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/assets/diyUpload/js/diyUpload.js"></script>
<%= javascript_include_tag "share/emoji" %>
<script type="text/javascript">

    /*
    * 服务器地址,成功返回,失败返回参数格式依照jquery.ajax习惯;
    * 其他参数同WebUploader
    */

    $('#img-upload').diyUpload({
    	url:'/images',
    	success:function( data ) {
    		console.info( data );
    	},
    	error:function( err ) {
    		console.info( err );
    	},
    	buttonText: '+',
        uploadButton: $('#post_submit'),
    	chunked: true,
    	// 分片大小
    	// chunkSize:512 * 1024,
    	//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
    	fileNumLimit:30,
    	fileSizeLimit:500000 * 1024,
    	fileSingleSizeLimit:50000 * 1024,
    	accept: {
            extensions:"gif,jpg,jpeg,bmp,png",
            mimeTypes:"image/*"
        },
		onFileChange: function($fileBox) {
			var index = ($fileBox.index() + 1);
			var size = $fileBox.siblings().not('.upload-btn').length + 1;
			$fileBox.siblings().andSelf().not(".upload-btn").each(function(i, e) {
				var $this = $(this);
				$(this).find("a[data-caption]").attr("data-caption", (i + 1) + '/' + size)
			})
			baguetteBox.run('.img-gallery');
		},
        success: function(res, $fileBox) {
            var $imgInput = $("#post_images");
            var val = $imgInput.data("value");
            if (!val || typeof(val) != "object") val = {};
            val[res.id] = {
                url: res.url,
                thumb: res.thumb
            }
            $imgInput.data("value", val);
			$fileBox.removeAttr("error").find(".diyCancel").off("click").attr("data-img-id", res.id).removeClass("diyCancel").addClass("diyDel");
			$.canSubmit = true
        },
        error: function(error, $fileBox) {
			$fileBox.attr("error", true);
			$.canSubmit = true
        },
        complete: function() {
			if ($.canSubmit) {
				submitPost();
			}
			$.canSubmit = false; // 防止重复提交
            console.log($("#post_images").data("value"))
        }
    });
</script>
