<!-- page heading start-->
<div class="page-heading pc-only">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/posts">校园BBS</a>
        </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper phone-mtop10">
    <div class="row blog">
        <div class="col-md-8">
            <div class="row">
            </div>

            <% if params[:search] %>
                <span class='pull-left' role='back' style="margin-right: 10px; margin-left: 10px;" data-back-url="<%= posts_url %>"><<返回</span>
                <div style="padding-left: 15px; padding-bottom: 15px;">
                    搜索"<%= params[:keyword] %>"：
                </div>
            <% end %>

            <div class="dropload" data-url="<%= request.fullpath %>" data-page="2">
                <div class="notices">
                    <% if @notices %>
                        <div class="p-notice-pane">
                            <% @notices.each do |n| %>
                                <span class="no-wp p-notice"><label class="label <%= get_notice_label n.cate %>"><%= n.cate %></label>
                                    <span class="n-title">
                                        <%= link_to n.title || "无标题", post_notice_path(n) %>
                                    </span>
                                    <span class="pull-right n-time"><%= format_time n.updated_at %></span>
                                </span>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <div id="lists">
                    <%= render "lists" %>
                </div>
            </div>

            <div class="text-center">
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<%= render 'bt_nav', active: :home %>

<div class="new-btn-pane pc-only">
    <%= link_to search_posts_path, class: "search" do %>
        <i class="fa fa-search"></i>
    <% end %>
    <% if session[:user_id] %>
        <%= link_to new_post_path, class: "new" do %>
            <i class="fa">+</i>
        <% end %>
    <% else %>
        <%= link_to login_path, class: "new", "data-toggle" => "modal", "data-target" => "#loginModal" do %>
            <i class="fa">+</i>
        <% end %>
    <% end %>
</div>

<% unless session[:user_id] %>
    <script>
        $(function() {
            showTip("登录后即可获得本校内容推荐");
        })
    </script>
<% end %>

<!--body wrapper end-->
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
<%= javascript_include_tag "share/autoDot" %>
