<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li class='t-center'>
            <a href="javascript:void(0)" class='pull-left' role='back'><<返回</a>
        </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel n-m-b">
                        <div class="panel-body">
							<%= form_tag posts_url, id: "search_post_form" do  %>
	                            <input type="text" id="search_input" placeholder="输入关键词" class="form-control blog-search">
							<% end %>
                        </div>
                    </div>
					<p class="t-center mtop10">热门搜索</p>
					<div class="panel">
						<div class="flow_tag">
							<div class="flowshow animated">
								<div id="flow_tag_widget" class="flow-widget" role="label-container">
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'bt_nav', active: :search %>

<!-- <div class="new-btn-pane">
    <%= link_to new_post_path, class: "new" do %>
        +
    <% end %>
</div> -->

<%= stylesheet_link_tag "share/flowtag" %>
<%= javascript_include_tag "share/flowtag" %>

<script>
// 设置浮动标签
$(function() {
	$.ajax({
		url: "/posts/hots",
		type: "get",
		dataType: "json",
		success: function(data) {
			var floatPane = $("#flow_tag_widget");
			for(var i in data) {
                if (data[i].title.trim() == "") continue;
				var label = $('\
					<a class="item btn btn-primary" title="热门帖子" href="javascript:void(0)">' + data[i].title + '</a>\
				')
                label.find("br").remove();
				floatPane.append(label);
			}
			setupTag();
		}
	})

	$("#flow_tag_widget").on("click", "a.item", function() {
		location = "/posts?search=true&keyword=" + $(this).text();
	})
})

$(function() {
	$("#search_post_form").submit(function(e) {
		e.preventDefault();
		var val = $("#search_input").val();
		if (!val) return false;
		location = "/posts?search=true&keyword=" + val;
		return false;
	})
})
</script>
