<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="javascript:void(0)" class='url-back' role='back' data-back-url="<%= posts_url %>"><<返回</a>
        </li>
        <li>
            <span>帖子正文</span>
        </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row blog">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="p-u-info">
                        <% if @user && (@post.user_id == @user.id) %>
                            <div class="opt-menu pull-right">
                                <span class="dropdown-toggle" data-toggle="dropdown">
                                    <i class='fa fa-angle-down'></i>
                                </span>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                    <%= link_to '修改', edit_post_path(@post) %>
                                  </li>
                                  <li>
                                      <%= link_to '删除', post_path(@post), method: :DELETE, data: { confirm: "确定要删除吗?" } %>
                                  </li>
                                </ul>
                            </div>
                        <% end %>
                        <div class="ico">
                            <%= link_to v_ucenter_posts_path(@post.user_id) do %>
                                <%= image_tag @post.user.avatar.mini %>
                            <% end %>
                        </div>
                        <div class="u-intro">
                            <span class='u-name'><%= @post.user.nickname || "#{@post.user.name.slice(0, 1)}同学" %></span>
                            <span class='p-time'><%= format_time @post.updated_at %></span>
                        </div>
                    </div>
                    <span class="auto-row p-title">
                        <%= @post.title %>
                    </span>
                    <span class="auto-row p-content">
                        <%= format_cate @post.cate if @post.cate %>
                        <%= (@post.content || "").html_safe %>
                    </span>
                    <% if @post.images && @post.images.class.name == "Hash" %>
                        <div class="blog-imgs img-gallery">
                            <% $images = @post.images %>
                            <% $images.keys.each_with_index do |c, i| %>
                                <div class="img-view">
                                    <a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
                                    <img src="<%= $images[c]['thumb'] %>" data-url="<%= $images[c]['url'] %>">
                                  </a>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="tags-pane post-tag">
                        <%= @post.tag %>
                    </div>
                </div>
            </div>

            <div class="p-footer info <%= 'cmt-m-b' unless @comments.any? %>">
                <div class="readtimes">浏览 <span><%= @post.readtimes || 0 %></span></div>
                <div class="thumbs">赞 <span><%= @post.thumbs_count || 0 %></span></div>
                <div class="coments">评论 <span><%= @post.comments_count || 0%></span></div>
            </div>
            <div class="p-footer fix-btm">
                <div class="thumbs">
                    <a href="javascript: void(0)">
                        <i class="fa <%= @post.has_thumb?(@user, request.remote_ip) ? 'fa-thumbs-up active' : 'fa-thumbs-o-up' %>" data-action="<%= thumb_posts_path(@post) %>" role='thumb'><span class='thumb-text'>赞</span></i>
                    </a>
                </div>
                <div class="comments">
                    <%= link_to  new_post_post_comment_path(@post) do %>
                        <i class="fa fa-comments-o" role='comment'></i>评论
                    <% end %>
                </div>
                <div class="share">
                    <a class='' href='javascript: void(0)' data-toggle='modal' data-target='#shareModal'>
                        <i class="glyphicon glyphicon-send"></i>
                        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                            <metadata>分享</metadata><g><path style="fill:#6e6e6e" d="M989.9,150.8c0-1,0-1.9-0.1-2.9c-0.1-0.5-0.1-1-0.2-1.5c-0.1-0.3-0.2-0.6-0.2-0.9c-0.1-0.2,0-0.4-0.1-0.6c-0.2-0.7-0.7-1.2-1-1.8c-0.2-0.6-0.2-1.2-0.6-1.8c-0.1-0.2-0.4-0.4-0.6-0.6c-0.2-0.4-0.5-0.9-0.8-1.3c-0.1-0.1-0.1-0.3-0.2-0.5c-0.1-0.1-0.3-0.2-0.4-0.3c-0.6-0.7-1.2-1.2-1.9-1.7c-0.7-0.6-1.3-1.3-2-1.9c-0.2-0.2-0.4-0.4-0.6-0.6c-0.2-0.1-0.4-0.1-0.5-0.2c-0.2-0.1-0.5-0.3-0.7-0.4c-0.7-0.4-1.6-0.6-2.4-0.9c-0.9-0.3-1.7-0.7-2.7-0.9c-0.5-0.1-0.9-0.3-1.4-0.4c-0.2-0.1-0.5-0.1-0.7-0.1c-0.8-0.1-1.6,0.1-2.4,0.1c-1,0-1.9,0-2.9,0.1c-0.5,0.1-0.9,0.1-1.4,0.2c-0.3,0.1-0.6,0.2-1,0.3c-0.1,0.1-0.3,0-0.4,0.1L23.4,432.1c-0.6,0.2-0.9,0.6-1.4,0.8c-1.3,0.5-2.4,1.1-3.5,1.9c-1.1,0.7-2.1,1.5-3,2.4c-0.4,0.4-0.9,0.6-1.2,1.1c-0.4,0.5-0.6,1.2-0.9,1.7c-0.7,1.1-1.4,2.3-1.9,3.6c-0.4,1.1-0.7,2.2-1,3.4c-0.2,1.2-0.4,2.4-0.4,3.7c0,1.3,0.2,2.6,0.4,3.9c0.1,0.7,0,1.4,0.2,2c0.1,0.4,0.5,0.5,0.6,0.9c1.2,3.1,2.8,6,5.5,8.3l154.4,127.9c0,0,15.6,15.9,39.2,2.3c17.3-10,538.6-299.6,538.6-299.6L298.8,642.9v225.6l71.9-98.2L312.8,686l202.1,172c0.4,0.3,0.9,0.4,1.3,0.7c0.3,0.2,0.5,0.6,0.9,0.9s0.8,0.1,1.2,0.3c3,1.7,6.1,2.7,9.4,2.7c3,0,6-0.8,8.7-2.2c0.9-0.4,1.5-1.2,2.3-1.8c1.4-0.9,2.8-1.7,3.9-3c0.4-0.4,0.4-0.9,0.7-1.4c0.2-0.3,0.6-0.4,0.8-0.7L987,161.5c0.1-0.2,0.1-0.3,0.2-0.5c0.2-0.2,0.3-0.5,0.5-0.7c0.4-0.7,0.5-1.5,0.8-2.2c0.4-0.9,0.7-1.8,1-2.8c0.1-0.5,0.3-0.9,0.4-1.4c0.1-0.2,0.1-0.4,0.1-0.7C990,152.3,989.9,151.6,989.9,150.8z"></path></g>
                        </svg> -->
                        <span>分享</span>
                    </a>
                </div>
            </div>
            <div id="comments" class="dropload" data-url="<%= post_post_comments_path(@post) %>">
                <% if @comments.any? %>
                    <div class="p-comments phone-btm-30" id="lists">
                        <% cache @comments.cache_key, expires_in: 10.minutes do %>
                            <%= render "cmt_lists" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<style>
    @media screen and (max-width: 768px) {
    	.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    		opacity: 0;
    	}
    }
</style>
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>

<!-- 分享 -->
<%= render "/index/share" %>
