<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li class='t-center'>
            <a href="/posts" class='pull-left'><<</a>
            <span class="">
                帖子正文
            </span>
        </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row blog">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="p-u-info">
                        <% if @post.user_id == @user.id %>
                            <div class="opt-menu pull-right">
                                <span class="dropdown-toggle" data-toggle="dropdown">
                                    <i class='fa fa-angle-down'></i>
                                </span>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                    <%= link_to '修改', edit_post_path(@post) %>
                                  </li>
                                  <li>
                                      <%= link_to '删除', post_path(@post), method: :DELETE, data: { confirm: "确定要删除吗?" } %>
                                  </li>
                                </ul>
                            </div>
                        <% end %>
                        <div class="ico">
                            <%= image_tag @post.user.avatar.mini %>
                        </div>
                        <div class="u-intro">
                            <span class='u-name'><%= @post.user.name %></span>
                            <span class='p-time'><%= @post.created_at.strftime("%H:%M") %></span>
                        </div>
                    </div>
                    <span class="auto-row p-content">
                        <%= (@post.content || "").html_safe %>
                    </span>
                    <% if @post.images && @post.images.class.name == "Hash" %>
                        <div class="blog-imgs img-gallery">
                            <% $images = @post.images %>
                            <% $images.keys.each_with_index do |c, i| %>
                                <div class="img-view">
                                    <a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
                                      <%= image_tag $images[c]['thumb'], "data-url" => $images[c]['url'] %>
                                  </a>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="p-footer info <%= 'm-b-40' unless @comments.any? %>">
                <div class="readtimes">浏览 <span><%= @post.readtimes || 0 %></span></div>
                <div class="thumbs">赞 <span><%= @post.thumbs_count || 0 %></span></div>
                <div class="coments">评论 <span><%= @post.comments_count || 0%></span></div>
            </div>
            <div class="p-footer fix-btm">
                <div class="coments"><i class="fa <%= @post.has_thumb?(@user.id, request.remote_ip) ? 'fa-thumbs-up active' : 'fa-thumbs-o-up' %>" data-action="<%= thumb_posts_path(@post) %>" role='thumb'>赞</i></div>
                <div class="thumbs"><%= link_to  new_post_post_comment_path(@post) do %>
                    <i class="fa fa-comments-o" role='comment'>评论</i>
                    <% end %>
                </div>
            </div>
            <div id="comments" class="dropload" data-url="<%= post_post_comments_path(@post) %>">
                <% if @comments.any? %>
                    <div class="p-comments n-p-b" id="lists">
                        <% cache @comments.cache_key, expires_in: 10.minutes do %>
                            <%= render "cmt_lists" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<style>
    @media screen and (max-width: 768px) {
    	.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    		opacity: 0;
    	}
    }
</style>
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
