<% @msgs.each do |m| %>
	<li role="remove">
		<% user = m.sender %>
		<div class="avatar mini">
			<%= image_tag user.avatar.mini %>
		</div>
		<div class="activity-desk narrow">
			<span><%= user.nickname %></span>
			<p class="text-muted"><%= format_time m.created_at %></p>

		</div>
		<div class="text">
			<%= link_to post_path(m.resource.id) do %>
				<%= (m.msg || "").html_safe %>
			<% end %>
		</div>
		<div class="album gray-box">
			<% if m.resource.class.name == "Index::Post" %>
				<%= link_to post_path(m.resource_id), class: "p-content dot msg" do %>
					<div class="dot-collapse">
						<b><%= @user.nickname %>:</b>
						<%= (m.resource.content || "").html_safe %>
					</div>
				<% end %>
			<% elsif m.resource.class.name == "Index::PostComment" %>
				<%= link_to post_path(m.resource.post), class: "p-content dot msg" do %>
					<div class="dot-collapse">
						<b><%= @user.nickname %>:</b>
						<%= (m.resource.content || "").html_safe %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="p-footer">
			<div class="pull-right">
				<a href="javascript:void(0)" class='pull-right' data-href="<%= ucenter_delete_post_msg_path(m) %>" role="delete-confirm" data-method="delete">删除</a>
			</div>
		</div>
	</li>
<% end %>
