<!-- page heading start-->
<div class="page-heading">
    <h3>
        学习资料
    </h3>
    <ul class="breadcrumb">
		<li>
			<%= link_to '全部资料', manage_materials_path %>
		</li>
        <li>
            <%= link_to @material.name, manage_material_path(@material) %>
        </li>
        <li class="active"> 上传资料 </li>
    </ul>
</div>

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container">
                <div class="stepy-tab"></div>
				<div id="material-form">
                    <div id="error">
	                    <% if @material.errors.any? %>
	                      <div id="error_explanation">
	                        <h3>存在<%= @material.errors.count %>个错误信息</h3>

	                        <ul>
	                        <% @material.errors.full_messages.each do |message| %>
	                          <li><%= message %></li>
	                        <% end %>
	                        </ul>
	                      </div>
	                    <% end %>
                    </div>

                    <fieldset title="第一步" class='unshow'>
                        <legend>填写资料信息</legend>
                        <section class='panel'>
                        </section>
                    </fieldset>

                    <fieldset title="第二步" class='unshow'>
                        <legend>资料详情</legend>
                        <section class="panel">
                        </section>
                    </fieldset>
	                <fieldset title="第三步">
	                    <legend>上传资料</legend>
	                    <section class="panel">
	                        <div class="panel-body">
								<%= form_tag manage_material_uploader_path, method: :post, id: "my-awesome-dropzone", class: "dropzone", 'data-id' => @material.id do %>
								<% end %>
								<br>
								<a href="javascript: void(0)" id="ok" class='btn btn-primary btn-wide'>完成</a>
	                        </div>
	                    </section>
						<section class="panel">
							<header>
								<div class="panel-heading">已上传的资料</div>
							</header>
							<div class="panel-body">
								<div class="files">
									<div class="row">
										<% @material.files.each do |f| %>
											<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 file tooltips" data-placement="top" data-toggle="tooltip"  data-original-title="上传日期: <%= f.created_at.strftime('%Y-%m-%d') %> 下载量: <%= f.dload_count %>">
												<div class="file-pre">
													<div class="details">
		                                                <div class="top">
		                                                    <div class="filename no-wp">
		                                                        <span><%= f.name %></span>
		                                                    </div>
		                                                    <br>
		                                                    <!-- <div>
		                                                        <span>上传日期:</span>
		                                                        <p class="no-wp"><%= f.created_at.strftime("%Y-%m-%d") %></p>
		                                                    </div> -->
		                                                    <div>
		                                                        <strong class='size'>
		                                                            <%= f.size %>
		                                                        </strong>
		                                                    </div>
		                                                </div>
                                                        <% if /\A(image)/.match(f.f_type) %>
                                                            <% if (f.size || 0 ).to_i < 3000000 %>
                                                              <%= image_tag f.file %>
                                                            <% else %>
                                                                <i class="fa fa-picture-o ico-mini f-type"></i>
                                                            <% end %>
		                                                <% else %>
		                                                    <i class="fa fa-file-text ico f-type"></i>
		                                                <% end %>
                                                        <a class="f-del" data-file-id="<%= f.id %>" data-material-id="<%= @material.id %>">
															<i class="fa fa-times"></i>
														</a>
														<a class="dload" data-src="<%= f.manage_dload_path %>">
															<i class="fa fa-cloud-download ico"></i>
														</a>
		                                            </div>
												</div>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</section>
	                </fieldset>
				</div>
            </div>
        </div>
    </div>
</div>

<%= stylesheet_link_tag 'stepy/jquery.stepy' %>
<%= javascript_include_tag 'stepy/jquery.stepy' %>

<%= stylesheet_link_tag 'dropzone/css/dropzone' %>
<%= javascript_include_tag 'dropzone/dropzone' %>

<script>
    /*=====STEPY WIZARD====*/
    $(function() {
        $("fieldset").show();
		if (getQueryString("step")) {
			$(".unshow").remove();
		} else {
			$('#material-form').stepy({
				backLabel: '上一步',
				block: true,
				nextLabel: '下一步',
				titleClick: true,
				titleTarget: '.stepy-tab',
				legend: false,
				errorImage: true,
				finishButton: false
			});
			$("#material-form-title-2").trigger("click");
			$("#material-form-titles li").off("click");
			$(".button-back").remove();
		}

		$("a#ok").click(function() {
            showLoading("提交中...");
			window.location = '/manage/materials/' + $("#my-awesome-dropzone").data("id");
		})

		$("#material-form-title-0, #material-form-title-1").click(function() {
			window.location = '/manage/materials/' + $("#my-awesome-dropzone").data("id") + '/edit?step=' + $(this).attr("id");
		})

    });

</script>

<!--
<script src="//cdn.rawgit.com/indrimuska/jquery-editable-select/2.2.4/dist/jquery-editable-select.min.js"></script>
<link href="//cdn.rawgit.com/indrimuska/jquery-editable-select/2.2.4/dist/jquery-editable-select.min.css" rel="stylesheet"> -->
