<% @products.each do |p| %>
	<% cache p.cache_key, expires_in: 20.minutes do %>
		<div class='product-block'>
			<div class="item product" >
				<%= link_to product_path(p) do %>
					<%=  image_tag p.cover %>
				<% end %>
				<div class="info">
					<p class='p-info'>
						<%  if p.company %>
							<span class='company'><%= p.company.name %></span>
						<% end %>
						<span class='name'><%= p.name %></span>
					</p>
					<p class='p-intro'>
						<% if p.price > p.dis_price %>
							<small class='price'><i class='fa fa-rmb'></i><%= p.price %></small>
						<% end %>
						<span class='dis-price'><small class='fa fa-rmb'></small><%= p.dis_price %></span>
						<span class="readtimes"><%= p.fake_readtimes %>人浏览</span>
					</p>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
