<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">校园产品 </li>
        <li class="pull-right flex">
            <form class="" id='proSearch' method="get">
                <input type="text" class="form-control" name="name" placeholder="搜索产品" />
            </form>
        </li>
    </ul>
    <div class="pull-right">
        <!--search start-->
        <!--search end-->
    </div>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="cdts-panel">
                    <header class="panel-heading c">
                        <small>条件筛选</small>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                         </span>
                    </header>

                    <ul class='cdts' id="cdts" style="display: none">
                        <li>
                            <ul class="directory-list">
                                <li class='con-item' id="school" data-name="school">院校</li>
                                <% cache @schools.cache_key, expires_in: 10.minutes do %>
                                    <% @schools.each do |s| %>
                                        <li><a href="JavaScript: void(0)" data-value="<%= s.id %>"><%= s.name %></a></li>
                                    <% end %>
                                    <li><a href="JavaScript: void(0)" data-value="NONE">不限</a></li>
                                <% end %>
                            </ul>
                        </li>
                        <li>
                            <ul class="directory-list">
                                <li class='con-item' id='cate' data-name="cate">分类</li>
                                <% cache @cates.cache_key, expires_in: 10.minutes do %>
                                    <% @cates.each do |c| %>
                                        <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                                    <% end %>
                                    <li><a href="JavaScript: void(0)">不限</a></li>
                                <% end %>
                            </ul>
                        </li>
                        <li>
                            <ul class="directory-list">
                                <li class='con-item' id='cate' data-name="company">品牌</li>
                                <% cache @companies.cache_key, expires_in: 10.minutes do %>
                                    <% @companies.each do |c| %>
                                        <li><a href="JavaScript: void(0)" data-value="<%= c.id %>"><%= c.name %></a></li>
                                    <% end %>
                                    <li><a href="JavaScript: void(0)">不限</a></li>
                                <% end %>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                    <div id="pjax-replace">
                        <div class="show-block">
                            <div id="gallery" class="media-gal">
                                <div class="product-row">
                                    <% cache @products.cache_key, expires_in: 10.minutes do %>
                                        <% @products.each do |p| %>
                                            <% cache p.cache_key, expires_in: 20.minutes do %>
                                                <div class='product-block'>
                                                    <div class="item product" >
                                                        <%= link_to product_path(p) do %>
                                                            <span class="cate small"><%= "#{p.school.name} " if p.school %><%= p.cate.name if p.cate %></span>
                                                            <%=  image_tag p.cover %>
                                                        <% end %>
                                                        <div class="info">
                                                            <p class='p-info'>
                                                                <%  if p.company %>
                                                                    <span class='company'><%= p.company.name %></span>
                                                                    <span class='name'><%= p.name %></span>
                                                                <% end %>
                                                            </p>
                                                            <p class='p-intro'>
                                                                <% if p.price > p.dis_price %>
                                                                    <small class='price'><i class='fa fa-rmb'></i><%= p.price %></small>
                                                                <% end %>
                                                                <span class='dis-price'><small class='fa fa-rmb'></small><%= p.dis_price %></span>
                                                                <span class="readtimes"><%= p.fake_readtimes %>人浏览</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                        <% if @products.empty? %>
                                            <center><h4>暂无相关产品</h4></center>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <%= paginate @products %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<%= stylesheet_link_tag 'share/selector' %>
<%= javascript_include_tag 'share/selector' %>
