<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">
            <a href="/products">校园产品</a>
        </li>
        <li class="pull-right flex">
            <form class="" id='proSearch' method="get">
                <input type="text" class="form-control" name="name" placeholder="搜索产品" />
            </form>
        </li>
    </ul>
    <div class="pull-right">
        <!--search start-->
        <!--search end-->
    </div>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12 dropload" data-url="<%= request.fullpath %>" data-count=20>
            <section class="panel">
                <%= render "cdts" unless params[:pjax] == 'true' %>
                <% if params[:search] %>
                    <div style="padding-left: 15px;">
                        搜索"<%= params[:name] || params[:tag] %>"：
                    </div>
                <% end %>
                <div class="panel-body">
                    <div id="pjax-replace">
                        <div class="show-block">
                            <div id="gallery" class="media-gal">
                                <div class="product-row" id="lists">
                                    <% cache @products.cache_key, expires_in: 10.minutes do %>
                                        <%= render "lists" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <%#= paginate @products %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
<%= stylesheet_link_tag 'share/selector' %>
<%= javascript_include_tag 'share/selector' %>
