<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <!-- <header class="panel-heading">
                    Media Manager
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header> -->
                <div class="panel-body">

                    <ul id="filters" class="media-filter">
                        <li><%= link_to '全部', products_url %></li>
                        <li><%= link_to '语培', products_url + '?type=yupei' %></li>
                        <li><%= link_to '留学', products_url + '?type=liuxue' %></li>
                        <li><%= link_to '考研', products_url + '?type=kaoyan' %></li>
                        <li><%= link_to '驾校', products_url + '?type=jiakao' %></li>
                        <li><%= link_to '其它', products_url + '?type=else' %></li>
                    </ul>

                    <div class="show-block">
                        <div id="gallery" class="media-gal">
                            <div class="product-row">
                                <% @products.each do |p| %>
                                    <div class='product-block'>
                                        <div class="item product" >
                                            <%= link_to product_path(p) do %>
                                                <%=  image_tag p.cover %>
                                            <% end %>
                                            <div class="info">
                                                <p class='p-info'>
                                                    <span class='company'><%= p.company %></span>
                                                    <span class='name'><%= p.name %></span>
                                                </p>
                                                <p class='p-intro'>
                                                    <% if p.price > p.dis_price %>
                                                        <small class='price'><i class='fa fa-rmb'></i><%= p.price %></small>
                                                    <% end %>
                                                    <small class='dis-price'><small class='fa fa-rmb'></small><%= p.dis_price %></span>
                                                    <span class="readtimes"><%= p.readtimes || 0 %>人浏览</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <%= paginate @products %>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
