<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @product.intro %>
</p>

<p>
  <strong>Info:</strong>
  <%= @product.info %>
</p>

<%= link_to 'Edit', edit_index_product_path(@product) %> |
<%= link_to 'Back', index_products_path %>
