<!-- page heading start-->
        <div class="page-heading">
            <h3>
                <%= @product.name %> <small><%= @product.company %></small>
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row blog">

        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <%= @product.intro %>
                </div>
            </div>
        <div class="blog">
        <div class="single-blog">
        <div class="panel">
            <div class="panel-body">
                <%= (@product.details || '').html_safe %>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h1 class="text-center cmnt-head ">预约顾问</h1>
                <p class="text-center fade-txt">顾问老师会对你的问题进行回复哦</p>
                <%= form_tag appoints_path, method: :post, role: :form, class: "form-horizontal leave-cmnt", id: "appoint-form" do%>
                    <%= hidden_field_tag 'appoint[product_id]', @product.id %>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" name='appoint[name]' class="col-lg-12 form-control" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" name='appoint[phone]' class="col-lg-12 form-control" placeholder="电话">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea name='appoint[content]' class="form-control" rows="8" placeholder="想了解的内容或需要解答的疑问"></textarea>
                        </div>
                    </div>
                    <p>
                        <button class="btn btn-post-cmnt btn-wide" type="button" id='submit-appoint'>提交</button>
                    </p>
                <% end %>
                <script>
                    window.onload = function() {
                        var $form = $("#appoint-form");
                        $form.on("submit", function() {
                            return false;
                            alert("提交成功! 我们的顾问将会尽快联系您,请耐心等候哦~");
                        })
                        $("#submit-appoint").on("click", function() {
                            $.ajax({
                                url: $form.attr("action"),
                                type: $form.attr("method"),
                                data: $form.serialize(),
                                dataType: "JSON",
                                success: function(res) {
                                    if (res.code == 'Success') {
                                        alert("提交成功!我们的顾问将会尽快联系您.")
                                        $form.find("input[type=]").val("").end().find("textarea").val("");
                                    } else if (res.errors){
                                        alert("提交失败,请填写正确信息");
                                    } else {
                                        alert("提交失败,请稍后尝试");
                                    }
                                },
                                error: function(state, err) {
                                    alert("提交失败,请稍后尝试2");
                                }
                            })
                        })
                    }
                </script>
            </div>
        </div>
        </div>
        </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>猜你喜欢</h3>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="/assets/blog/blog-thumb-1.jpg" class=" ">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="/assets/blog/blog-thumb-2.jpg" class=" ">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="/assets/blog/blog-thumb-3.jpg" class=" ">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--body wrapper end-->
