<%= form_for(@user, url: users_url, html: { class: 'form-signin', id: 'register-form' }) do |f| %>
  <% if index_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_user.errors.count, "error") %> prohibited this index_user from being saved:</h2>

      <ul>
      <% index_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-signin-heading text-center" style='padding-bottom: 0'>
      <h1 class="sign-title">注册新帐号</h1>
      <img src="/assets/login-logo.png" alt=""/>
  </div>


  <div class="login-wrap">
      <div class="base">
          <%= f.text_field :name, id: :user_name, autofocus: "",  placeholder: "姓名", class: 'form-control' %>
          <div class="phone-group">
              <%= f.text_field :phone, id: :phone, autofocus: "",  placeholder: "手机号", class: 'form-control' %>
              <a href="JavaScript:void(0)" id="code" class="btn btn-default">获取验证码</a>
          </div>
          <input type='text' name='msg_code' autofocus  placeholder="短信验证码" class='form-control' id="code-text" >
          <button type="button" class="btn btn-lg btn-login btn-block" id="next" disabled>
              <i class="fa fa-arrow-right"></i>
          </button>
      </div>
      <div class="detail">
          <p>完善用户信息</p>
          <div class="radios">
              <label for="radio-01" class="label_radio col-lg-6 col-sm-6">
                  <input type="radio" checked="" value="男生" id="radio-01" name="index_user[sex]"> 男神
              </label>
              <label for="radio-02" class="label_radio col-lg-6 col-sm-6">
                  <input type="radio" value="女生" id="radio-02" name="index_user[sex]"> 女神
              </label>
          </div>
          <small>学校</small>
          <% cache @schools.cache_key, expires_in: 1.hours do %>
            <%= f.select :school_id, @schools.all.map{|s| [s.name, s.id]}, {}, {class: "form-control", id: 'user_school', style: "margin-bottom: 15px;"}  %>
          <% end %>
          <small>专业</small>
          <%= f.text_field :major, id: :user_major, autofocus: "",  placeholder: "就读专业", class: 'form-control' %>
          <small>年级</small>
          <%= f.select :grade, get_grades, {}, {class: "form-control", id: 'user_grade', placeholder: '年级'} %>
          <!-- <label class="checkbox">
              <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
          </label> -->
          <button type="button" class="btn btn-lg btn-login btn-block" id="register">
              <i class="fa fa-check"></i>
          </button>
      </div>
      <div class="registration">
          已经有帐号了?
            <%= link_to '点击登录', login_path %>
      </div>

  </div>

<% end %>
