<%= form_with(model: index_user, local: true) do |form| %>
  <% if index_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_user.errors.count, "error") %> prohibited this index_user from being saved:</h2>

      <ul>
      <% index_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :index_user_number %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :index_user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :index_user_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :index_user_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :index_user_name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :index_user_sex %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :index_user_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
