<!DOCTYPE html>
<html>
  <head>
    <title>学吧新用户注册</title>
    <meta charset="utf-8">
    <meta name="keywords" content="明新教育用户注册">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'style', media: 'all' %>
    <%= stylesheet_link_tag 'style-responsive', media: 'all' %>
    <%= stylesheet_link_tag params[:controller], media: 'all' %>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
  </head>

  <body class="login-body">

	<div class="container">
		<%= render 'form', index_user: @user %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag params[:controller] %>
        <script>
            $(function() {
                var $phone = $("#phone"),
                    $code = $("#code");
                $code.on("click", function() {
                    var reg = /^1[3|4|5|7|8][0-9]{9}$/; //手机号验证规则

                    if(!reg.test($phone.val())) {
                        alert("请填写正确的手机号");
                        return false;
                    }
                    $code.addClass("disabled").text("发送中...");
                    check_phone_uniq();

                    function check_phone_uniq() {
                        $.ajax({
                            url: "/check_phone_uniq",
                            type: "post",
                            data: {
                                "phone": $phone.val()
                            },
                            success: function(res) {
                                if (res.uniq) {
                                    send_msg();
                                } else {
                                    $code.removeClass("disabled").text("获取验证码");
                                    alert("该手机号已被注册！");
                                }
                            },
                            error: function() {
                                $code.removeClass("disabled").text("获取验证码");
                                alert("请求出错")
                            }
                        })
                    }

                    function send_msg() {
                        $.ajax({
                            url: "/send_msg",
                            type: "post",
                            data: {
                                "phone": $phone.val(),
                                "handle": "register"
                            },
                            dataType: "json",
                            success: function(res) {
                                if (res.code == 'Success') {
                                    var time = 60;
                                    $code.text(time + 'S');
                                    var i = setInterval(function() {
                                        $code.text(--time + 'S');
                                        if (time == 0) {
                                            $code.removeClass("disabled").text("重新发送");
                                            clearInterval(i);
                                        }
                                    }, 1000)
                                } else {
                                    $code.removeClass("disabled").text("获取验证码");
                                    alert("发送失败,请稍后尝试");
                                }
                            },
                            error: function() {
                                $code.removeClass("disabled").text("获取验证码");
                                alert("发送失败,请稍后尝试");
                            }
                        })
                    }
                })
            });

            $(function() {
                $("#user_name").on("input propertychange", function() {
                    var $this = $(this);

                    if (/^[\u4E00-\u9FA5]{2,4}$/.test($this.val())) {
                        $this.addClass("OK");
                        $("#name-tip").text("");
                        if ($("#code-text").hasClass("OK") && $("#user-pwd").hasClass("OK")) {
                            $("#next").removeAttr("disabled");
                        }
                    } else {
                        $this.removeClass("OK");
                    }
                });

                $("#user_name").on("blur", function() {
                    var $this = $(this);
                    if (!(/^[\u4E00-\u9FA5]{2,4}$/.test($this.val()))) {
                        $("#name-tip").text("请输入正确姓名");
                    }
                })

                $("#user_pwd").on("input propertychange", function() {
                    var $this = $(this);

                    if (/^([a-zA-Z0-9]|[._,@]){8,16}$/.test($this.val())) {
                        $this.addClass("OK");
                        $("#pwd-tip").text("");

                        if ($("#code-text").hasClass("OK") && $("#user_name").hasClass("OK")) {
                            $("#next").removeAttr("disabled");
                        }
                    } else {
                        $this.removeClass("OK");
                    }
                });

                $("#user_pwd").on("blur", function() {
                    var $this = $(this);
                    if (!(/^([a-zA-Z0-9]|[._,@]){8,16}$/.test($this.val()))) {
                        $("#pwd-tip").text("密码不符合要求")
                    }
                })

                $("#code-text").on("input propertychange", function() {
                    var $this = $(this);
                    if ($this.val().length != 4) return false;
                    $.ajax({
                        url: "/verify_msg",
                        type: "post",
                        data: {
                            "phone": $("#phone").val(),
                            "msg_code": $this.val(),
                            "handle": "register"
                        },
                        dataType: "json",
                        success: function(res) {
                            if (res.code == 'Success') {
                                $this.css("color", "green");
                                $this.addClass("OK");
                                if ($("#user_name").hasClass("OK") && $("#user-pwd").hasClass("OK")) {
                                    $("#next").removeAttr("disabled");
                                }
                            } else {
                                $this.css("color", "red");
                                $this.removeClass("OK");
                                $("#next").attr("disabled");
                            }
                        }
                    })
                })
                $("#next").on("click", function() {
                    $(".base").hide();
                    $(".detail").show();
                })
            });

            $(function(){
                $("#register").on("click", function() {
                    $(this).attr("disabled", true).html("<small>注册中...</small>");
                    $.ajax({
                        url: "/users",
                        type: "post",
                        data: $("#register-form").serialize(),
                        dataType: "json",
                        success: function(res) {
                            if (res.code == 'Success') {
                                window.location = res.url
                            } else if (res.code == 'WrongMsgCode') {
                                alert("验证码错误")
                            } else {
                                alert("注册失败, 请填写正确信息")
                            }
                        },
                        error: function() {
                            alert("注册失败,请稍后尝试");
                        },
                        complete: function() {
                            $("#register").removeAttr("disabled", true).html("<i class='fa fa-check'></i>");
                        }
                    })

                    return false;
                })
            });

        </script>
	</div>
  </body>
</html>
