<div class="cdts-panel">
	<header class="panel-heading c">
		<small>条件筛选</small>
		<span class="tools pull-right">
			<a class="fa fa-chevron-down" href="javascript:;"></a>
		 </span>
	</header>

	<ul class='cdts' id="cdts" style="display: none;">
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id="school" data-name="school" data-search-url="<%= cdts_search_schools_path %>">院校</li>
					<% @schools.each do |s| %>
						<li><a href="JavaScript: void(0)" data-value="<%= s.id %>" data-role='opt'><%= s.name %></a></li>
					<% end %>
					<li><a href="JavaScript: void(0)" data-value="NONE" data-role='opt'>不限</a></li>
					<li class='opt-input'><div class="cdt-select" data-placeholder="搜索院校" data-json="<%= @schools.to_json %>"></div></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id='cate' data-name="cate" data-search-url="<%= cdts_search_material_cates_path %>">分类</li>
					<% @cates.each do |c| %>
						<li><a href="JavaScript: void(0)" data-value="<%= c.id %>" data-role='opt'><%= c.name %></a></li>
					<% end %>
					<li><a href="JavaScript: void(0)" data-role='opt'>不限</a></li>
					<li class='opt-input'><div class="cdt-select" data-placeholder="搜索分类" data-json="<%= @cates.to_json %>"></div></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="options">
				<ul class="directory-list">
					<li class='con-item' id='grade' data-name="grade">年级</li>
					<% get_grades.each do |g| %>
						<li><a href="JavaScript: void(0)" data-value="<%= g %>" data-role='opt'><%= g %></a></li>
					<% end %>
					<li><a href="javascript: void(0)" data-role='opt'>不限</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
