<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">学习资料 </li>
        <li class="pull-right flex">
            <form class="" id='matSearch' method="get">
                <input type="text" class="form-control" name="name" placeholder="搜索资料" />
            </form>
        </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper n-p-t">
    <div class="directory-info-row">
        <%= render 'cdts' unless params[:pjax] == 'true' %>
        <div class="dropload"  data-count=20 data-url="<%= request.fullpath %>">
            <div class="row" id="pjax-replace">
                <div id="lists">
                    <% cache @materials.cache_key, expires_in: 10.minutes do %>
                        <%= render "lists" %>
                    <% end %>
                </div>
            </div>
        </div>
        <%#= paginate @materials %>
    </div>
</div>
<!--body wrapper end-->
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
<%= stylesheet_link_tag 'share/selector' %>
<%= javascript_include_tag 'share/selector' %>
