<%= stylesheet_link_tag "froala_style.min" %>

<!-- page heading start-->
<div class="page-heading">
    <h3>
        <%= @material.name %> <small> - <%= @material.cate.name if @material.cate %></small>
    </h3>
    <small class="small"><p>适用: <%= @material.school.name if @material.school %>&nbsp<%= @material.grade %></p></small>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row blog">
        <div class="col-md-8 col-xs-12" style='z-index: 1'>
            <div class="panel no-m-b">
                <div class="panel-body">
                    简介: <%= @material.intro %>
                </div>
            </div>
            <div class="blog">
                <div class="single-blog">
                    <div class="panel">
                        <header class="panel-heading">
                            <span class='recom'>推荐指数:
                                <% 5.times do |i| %>
                                  <i class='fa fa-star <%= 'active' if (@material.recommend.to_i || 0 ) > i %> '></i>
                                <% end %>
                            </span>
                        </header>

                        <div class="panel-body">
                            <div class="fr-view">
                              <% cache @material.cache_key, 3.minutes do %>
                                <center><span>资料详情</span></center>
                                <br>
                                <%= (@material.details || '暂无内容').html_safe %>
                              <% end %>
                            </div>
                            <div class="pull-left">
                                <div class="tags-pane">
                                    <%= @material.tag %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="panel">
                        <header>
                            <div class="panel-heading">资料文件</div>
                        </header>
                        <div class="panel-body">
                            <div class="files">
                                <div class="row">
                                    <% if !@user && @material.need_login %>
                                        <center>
                                            <span style='color: red'>该资料需要登录后才能下载</span>
                                            <a type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal" href="/login">点此登录</a>
                                        </center>
                                    <% else %>
                                        <%= "<center><span>暂无资料</span></center>".html_safe if @material.nil? %>
                                        <% @material.files.each do |f| %>
                                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2s">
                                                <div class="file-pre mini">
                                                    <div class="details">
                                                        <div class="top">
                                                            <div class="filename no-wp">
                                                                <span><%= f.name %></span>
                                                            </div>
                                                            <br>
                                                            <!-- <div>
                                                                <span>上传日期:</span>
                                                                <p class="no-wp"><%= format_time f.created_at %></p>
                                                            </div> -->
                                                            <div>
                                                                <strong class='size'>
                                                                    <%= f.size %>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                        <% if /\A(image)/.match(f.f_type) %>
                                                          <% if (f.size || 0 ).to_i < 1000000 %>
                                                            <%= image_tag f.file %>
                                                          <% else %>
                                                              <i class="fa fa-picture-o ico-mini f-type"></i>
                                                          <% end %>
                                                        <% else %>
                                                            <i class="fa fa-file-text ico-mini f-type"></i>
                                                        <% end %>
                                                        <a class="dload" data-src="<%= f.dload_path %>">
                                                            <i class="fa fa-cloud-download ico-mini"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="panel-body">
                        <div class="pull-right">
                            <%= @material.fake_readtimes %>人浏览
                            &nbsp|&nbsp
                            <%= @material.fake_d_times %>次下载
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>猜你喜欢</h3>
                        <% @likes.each do |l| %>
                            <div class="media like">
                                <%= link_to material_path(l), class: "pull-left" do %>
                                  <%= image_tag l.cover.thumb, class: 'like-cover' %>
                                <% end %>
                                <div class="media-body">
                                    <div class="">
                                        <h5 class="media-heading p-info">
                                            <%= link_to l.name, material_path(l) %>
                                            <small class='small'><%= l.cate.name if l.cate %></small>
                                        </h5>
                                        <p class='p-intro no-wp'>
                                            <%= l.intro %>
                                        </p>
                                        <p class='p-intro no-wp'>
                                            <span class='readtimes'>浏览<%= l.fake_readtimes %>次</span>&nbsp
                                            <span class='readtimes'>下载<%= l.fake_d_times %>次</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="share-btn-pane">
    <div class="share new">
        <a class='' href='javascript: void(0)' data-toggle='modal' data-target='#shareModal'>
            <i class="glyphicon glyphicon-send"></i>
            <!-- <span>分享</span> -->
        </a>
    </div>
</div>

<div class="mask_show" id="dload-tip">
    <img src="/assets/dload-tip.png" class="">
</div>

<!--body wrapper end-->
<% if !@user && @material.need_login %>
    <script type="text/javascript">
        // setTimeout(function() {
            $(".login-wrap").before("<span id='m-tip' class='t-center' style='color: red;'>\
                                        <i class='fa fa-exclamation-circle'></i>登录后即可下载该资料\
                                     </span>");
        //     $(function() {
        //         $("#loginModal").modal("show")
        //     })
        // }, 2000)
        $("#loginModal").find(".close").click(function() {
            $("span#m-tip").remove();
        })

        $(function() {
            showTip("登录后即可下载该资料", 2000);
        })
    </script>
<% end %>



<script>
    $(function() {
        if(needLoadTip()) {
            var btn = $('.dload');
            var tip = $('#dload-tip');
            btn.click(function(e) {
                e.preventDefault();
                tip.show(300);
                return false;
            });
            tip.click(function() {
                tip.hide(300);
            })
        }
    });

    function needLoadTip() {
        var tip = false;
        var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            //在微信中打开
            tip = true;
        }
        if (ua.match(/WeiBo/i) == "weibo") {
            //在新浪微博客户端打开
            tip = true;
        }
        if (ua.match(/QQ/i) == "qq") {
            //在QQ空间打开
            tip = true;
        }
        return tip;
    }
</script>

<%= render "/index/share" %>
