<% @posts.each do |post| %>
    <% cache post.cache_key, expires_in: 10.minutes do %>
		<div class="panel post-pane" role='remove'>
			<div class="panel-body n-p-b">
				<div class="p-u-info">
                    <% if @admin.super? %>
                        <% if post.is_published? %>
                            <div class="opt-menu pull-right">
                                <span class="dropdown-toggle" data-toggle="dropdown">
                                    <i class='fa fa-angle-down'></i>
                                </span>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                      <%= link_to '删除', manage_post_path(post), method: :DELETE, data: { confirm: "确定要删除吗?" } %>
                                  </li>
                                </ul>
                            </div>
                        <% else %>
                            <div class="pull-right">
                                <small>删除时间：<%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
                            </div>
                        <% end %>
                    <% end %>
					<div class="ico">
						<%= image_tag post.user.avatar.mini %>
					</div>
					<div class="u-intro">
						<span class='u-name'><%= post.user.name %></span>
						<span class='p-time'><%= post.created_at.strftime("%H:%M") %></span>
					</div>
				</div>
				<%= link_to manage_post_path(post), class: "auto-row p-content" do %>
					<span class="">
						<%= (post.content || "").html_safe %>
					</span>
				<% end %>
				<% if post.images && post.images.class.name == "Hash" %>
					<div class="blog-imgs img-gallery">
						<% $images = post.images %>
						<% $images.keys.slice(0..8).each_with_index do |c, i| %>
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 img-pane">
								<div class="blog-img-sm" style="background: url(<%= $images[c]['thumb'] %>)" data-url="<%=$images[c]['url'] %>" >
									<a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
										<img src="" alt="" style=:display: none;>
									</a>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
				<div class="p-footer">
					<div class="readtimes"><i class="fa fa-eye"></i><span><%= post.readtimes %></span></div>
					<div class="coments">
                        <%= link_to "#{manage_post_path(post)}?#comments" do %>
                            <i class="fa fa-comments-o" role='comment'></i>
    						<span>
    							<%= post.comments_count %>
    						</span>
                        <% end %>
					</div>
					<div class="thumbs">
						<i class="fa fa-thumbs-o-up" data-action="<%= thumb_posts_path(post) %>" role='thumb'></i>
						<span><%= post.thumbs_count %></span>
					</div>
				</div>
				<!-- <a href="#" class="more">Continue Reading</a> -->
			</div>
		</div>
	<% end %>
<% end %>
