<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li class='t-center'>
            <a href="javascript: void(0)" class='pull-left' role='back'><<返回</a>
            <span class="">
                帖子正文
            </span>
        </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row blog">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="p-u-info">
                        <% if @admin.super? %>
                            <% if @post.state_ok? %>
                                <div class="opt-menu pull-right">
                                    <span class="dropdown-toggle" data-toggle="dropdown">
                                        <i class='fa fa-angle-down'></i>
                                    </span>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <% if @post.is_top? %>
                                              <%= link_to "取消置顶", manage_post_off_top_path(@post), method: :delete, data: { confirm: "确定要取消置顶吗" } %>
                                            <% else %>
                                              <%= link_to "置顶", manage_post_on_top_path(@post), method: :post, data: { confirm: "确定要置顶该贴吗" } %>
                                            <% end %>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-href="<%= manage_post_path(@post) %>" role="delete-confirm" data-method="delete" data-info="确定要删除该贴？删除后用户将无法查看">删除</a>
                                        </li>
                                    </ul>
                                </div>
                            <% elsif @post.state_bad? %>
                                <div class="pull-right">
                                    <span class="label label-danger"><%= @post.is_deleted? ? "用户删除" : "管理员删除" %></span>
                                    <small>删除时间：<%= format_time @post.updated_at %></small>
                                    <% if @post.is_forbidden? %>
                                        <p>
                                            <%= link_to manage_post_recover_path(@post), method: :post, class: "recover pull-right", data: { confirm: "确定要恢复该贴？恢复后用户可以查看该贴内容" } do %>
                                            <i class="fa fa-refresh"></i>
                                            <span>恢复</span>
                                            <% end %>
                                        </p>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                        <% if @post.is_top? %>
                            <div class="pull-right">
                                <label class="label label-success p-top">置顶</label>
                            </div>
                        <% end %>
                        <span class="pull-right school-info"><%= post.school.name if post.school %></span>

                        <div class="ico">
                            <%= link_to manage_user_path(@post.user) do %>
                                <%= image_tag @post.user.avatar.mini %>
                            <% end %>
                        </div>
                        <div class="u-intro">
                            <span class='u-name'><%= @post.user.name %></span>
                            <span class='p-time'><%= format_time @post.created_at %></span>
                        </div>
                    </div>
                    <span class="auto-row p-content">
                        <%= format_cate post.cate if @post.cate %>
                        <%= (@post.content || "").html_safe %>
                    </span>
                    <% if @post.images && @post.images.class.name == "Hash" %>
                        <div class="blog-imgs img-gallery">
                            <% $images = @post.images %>
                            <% $images.keys.each_with_index do |c, i| %>
                                <div class="img-view">
                                    <a href="<%= $images[c]['url'] %>" data-caption="<%= i + 1 %>/<%= $images.length %>">
                                    <img src="<%= $images[c]['thumb'] %>" data-url="<%= $images[c]['url'] %>">
                                  </a>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="p-footer info <%= 'm-b-40' unless @comments.any? %>">
                <div class="readtimes">浏览 <span><%= @post.readtimes || 0 %></span></div>
                <div class="thumbs">赞 <span><%= @post.thumbs_count || 0 %></span></div>
                <div class="coments">评论 <span><%= @post.comments_count || 0%></span></div>
            </div>
            <div>
                <small class="pull-right">
                    <%= link_to "全部评论>>", manage_post_post_comments_path(@post) %>
                </small>
            </div>
            <br>
            <div id="comments" class="dropload" data-url="<%= manage_post_post_comments_path(@post) %>">
                <% if @comments.any? %>
                    <div class="p-comments n-p-b" id="lists">
                        <% cache @comments.cache_key, expires_in: 10.minutes do %>
                            <%= render "cmt_lists" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= stylesheet_link_tag "share/dropload" %>
<%= javascript_include_tag "share/dropload" %>
