<!-- page heading start-->
<!--<div class="page-heading">-->
    <!--Page Tittle goes here-->
<!--</div>-->
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper u-details">

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-pic text-center img-gallery">
                                <a href="<%= @user.avatar %>" data-caption="头像大图">
                                    <%= image_tag @user.avatar.thumb %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <ul class="p-info">
                                <li>
                                    <div class="title">姓名</div>
                                    <div class="desk"><%= @user.name %></div>
                                </li>
                                <li>
                                    <div class="title">昵称</div>
                                    <div class="desk"><%= @user.nickname %></div>
                                </li>
                                <li>
                                    <div class="title">电话</div>
                                    <div class="desk"><%= @user.phone %></div>
                                </li>
                                <li>
                                    <div class="title">性别</div>
                                    <div class="desk"><%= @user.sex %></div>
                                </li>
                                <li>
                                    <div class="title">学校</div>
                                    <div class="desk"><%= @user.school.name if @user.school %></div>
                                </li>
                                <li>
                                    <div class="title">专业</div>
                                    <div class="desk"><%= @user.major %></div>
                                </li>
                                <li>
                                    <div class="title">年级</div>
                                    <div class="desk"><%= @user.grade %></div>
                                </li>
                                <li>
                                    <div class="title">注册时间</div>
                                    <div class="desk"><%= format_time @user.created_at %></div>
                                </li>
                            </ul>
                            <%= link_to edit_manage_user_path(@user), style: 'float: right' do %>
                              <span>修改</span><i class='fa fa-pencil'></i>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-states">
                            <div class="col-xs-6">
                                <div class="summary pull-left">
                                    <h4>产品浏览记录</h4>
                                    <span>总次数</span>
                                    <h3><%= link_to @user.histories.sum(:times), manage_user_histories_path(@user) %></h3>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="summary pull-left">
                                    <h4>资料浏览记录</h4>
                                    <span>总次数</span>
                                    <h3><%= link_to @user.mat_histories.sum(:times), manage_user_mat_histories_path(@user) %></h3>
                                </div>
                            </div>
                            <div id="expense" class="chart-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-states green-box">
                            <div class="summary pull-left">
                                <h4>预约记录</h4>
                                <span>总次数</span>
                                <h3><%= link_to @user.appoints.count, manage_user_appoints_path(@user), style: 'color: white' %></h3>
                            </div>
                            <div id="pro-refund" class="chart-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="histories">
                    <div>
                        <h4 class="t-center">
                            产品浏览记录
                        </h4>
                    </div>
                    <div class="timeline">
                        <article class="timeline-item alt">
                            <div class="text-right">
                                <div class="time-show first n-m-t">
                                    <a href="#" class="btn btn-primary"><%= format_time Time.now %></a>
                                </div>
                            </div>
                        </article>
                        <% @histories.each_with_index do |h, i| %>
                            <article class="timeline-item <%= 'alt' if i % 2 == 0 %>">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <h1 class="red"><%= format_time h.updated_at %></h1>
                                            <span class="arrow-alt"></span>
                                                <%= link_to manage_product_path(h.product) do %>
                                                    <%= image_tag h.product.cover %>
                                                <% end %>
                                            <span class="timeline-icon"></span>
                                            <div class="album">
                                            </div>
                                            <div class="detail">
                                                <h4><%= link_to h.product.name, manage_product_path(h.product) %></h4>
                                                <span class="no-wp"><%= h.product.intro %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                    <header class="panel-heading">
                        <%= @user.name %>的帖子
                        <span class="tools pull-right">
                            <!-- <a class="fa fa-chevron-down" href="javascript:;"></a> -->
                            <!-- <a class="fa fa-times" href="javascript:;"></a> -->
                         </span>
                    </header>
                    <div class="panel-body">
                        <ul class="activity-list blog">
                            <%= render 'post_lists', user: @user %>
                        </ul>
                        <div class="more">
                            <%= link_to "查看更多>>", manage_user_posts_path(@user), class: "t-center" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--body wrapper end-->

<%= stylesheet_link_tag "share/lightbox" %>
<%= javascript_include_tag "share/lightbox" %>
