<!-- page heading start-->
<div class="page-heading">
    <% if @user %>
        <h3>
            用户预约记录
        </h3>
        <ul class="breadcrumb">
            <li>
                <%= link_to @user.name + '的个人资料', manage_user_path(@user) %>
            </li>
            <li class="active">
                预约记录
            </li>
        </ul>
    <% else %>
      <h3>
          全部预约记录
      </h3>
      <ul class="breadcrumb">
        <li>
          <a href="all_students.html">预约管理</a>
        </li>
        <li class="active">
          全部预约信息
        </li>
      </ul>
  <% end %>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">
        <header class="panel-heading">
          全部预约信息
        </header>
        <div class="panel-body">
          <div class="adv-table editable-table ">
            <div class="clearfix">
              <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0)" id="print">打印</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" id="export">导出为Excel</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="space15"></div>
            <!--startprint-->
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>联系方式</th>
                  <th>预约日期</th>
                  <th>内容</th>
                  <th>回电时间</th>
				  <th>用户ID</th>
                </tr>
              </thead>
              <tbody>
                <!-- 此处动态生成 -->
                <% cache @appoints.cache_key, expires_in: 10.minutes do %>
				  <% @appoints.each do |a| %>
                     <% cache a.cache_key, expires_in: 10.minutes do %>
    					<tr>
    					  <td><%= a.name %></td>
    					  <td><%= a.phone %></td>
    					  <td><%= a.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    					  <td><%= a.content %></td>
    					  <td><%= a.time || '无说明' %></td>
    					  <td>
                              <% if a.user %>
                                  <%= link_to a.user_id, manage_user_path(a.user_id) %>
                              <% else %>
                                  <%= '无' %>
                              <% end %>
                          </td>
    					</tr>
                     <% end %>
				  <% end %>
                <% end %>
              </tbody>
            </table>
            <!--endprint-->
            <%= paginate @appoints %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--body wrapper end-->
